In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ccc = pd.read_csv('cars.csv',header = None,names = ['C1','C2','C3','C4','C5'])
ccc.head()

In [ ]:
#unique --> unique values in any column
#nunique --> count of unique values in any column or complete dataframe
#count --> overall count of values in any column or complete dataframe
#value_counts --> frequency count of unique values in any column

In [ ]:
print('Count of unique values in dataframe: ',ccc.nunique())
print('Overall count of values in dataframe: ',ccc.count())

In [ ]:
print('Unique values: ',ccc['C3'].unique())
print('Count of unique values: ',ccc['C3'].nunique())
print('Overall count of values: ',ccc['C3'].count())
print('Frequency count of unique values: ',ccc['C3'].value_counts())

In [ ]:
ccc.describe()    #only considers numerical columns

In [ ]:
ccc.describe(percentiles=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1])    #gives the values of all percentiles explicitly

In [ ]:
sub_ccc = ccc[['C1','C2','C4']]
sub_ccc

In [42]:
sub_ccc['Names']=['A','B','C','D','E','F','G','H']

<ipython-input-42-c06637bb5235>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_ccc['Names']=['A','B','C','D','E','F','G','H']

In [44]:
sub_ccc.set_index('Names',inplace=True)

In [45]:
sub_ccc

          C1   C2     C4
Names
A       USCA   US  809.0
B      ASPAC  AUS  731.0
C      ASPAC  JAP  588.0
D      ASPAC   IN   18.0
E      ASPAC   RU  200.0
F      LATAM  MOR   70.0
G        AFR   EG   45.0
H        EUR  ENG    NaN

In [46]:
sub_ccc2 = sub_ccc.reset_index()

In [47]:
sub_ccc2

  Names     C1   C2     C4
0     A   USCA   US  809.0
1     B  ASPAC  AUS  731.0
2     C  ASPAC  JAP  588.0
3     D  ASPAC   IN   18.0
4     E  ASPAC   RU  200.0
5     F  LATAM  MOR   70.0
6     G    AFR   EG   45.0
7     H    EUR  ENG    NaN

In [48]:
sub_ccc2.columns = ['C3','C1','C2','C4']
sub_ccc2

  C3     C1   C2     C4
0  A   USCA   US  809.0
1  B  ASPAC  AUS  731.0
2  C  ASPAC  JAP  588.0
3  D  ASPAC   IN   18.0
4  E  ASPAC   RU  200.0
5  F  LATAM  MOR   70.0
6  G    AFR   EG   45.0
7  H    EUR  ENG    NaN

In [ ]:
nba = pd.read_csv('nba.csv')
#print(len(nba[ (nba['Team']=='Toronto Raptors') & (nba['Age']<25) ]))
#print(nba.value_counts())
#print(nba.shape)
nba[ (nba.Team == 'Memphis Grizzlies') & ( nba.Position == 'SG')].sort_values('Salary',ascending=False).head(1)

In [ ]:
nba['Position'].unique().tolist()      #returns distinct / unique values

In [ ]:
nba.Position.value_counts()        #this returns distinct value and its frequency i.e occurence Count

In [ ]:
nba.Position.value_counts(normalize=True)*100        # add normalize=True to convert Numbers into percentage

In [ ]:
nba.Position.nunique()     #returns no of unique values

In [ ]:
cars_df = pd.read_csv('cars.csv',header = None,names=['country_code','region','country','car_per_cap','driver_right'])  #names = list column names
cars_df
#or we can give the names of columns in this way also.
#dataframe_name.columns=['country_code','region','country','car_per_cap','driver_right']

In [ ]:
cars_df.index   #no. of rows range is given

In [ ]:
cars_df = pd.read_csv('cars.csv',header = None,names=['country_code','region','country','car_per_cap','driver_right'],index_col=[0])
cars_df       #index_col parameter is used to make a column as main index column

In [ ]:
cars_df = pd.read_csv('cars.csv',header = None,names=['region','country','car_per_cap','driver_right'],index_col=[0])
cars_df.index.name = 'Index CC'     #can name the index column using dataframe_name.index.name
print(cars_df)
print(cars_df.index)

In [ ]:
cars_df.index.name = None        #deletes the index col name
cars_df

In [ ]:
cars_df = pd.read_csv('cars.csv',header = None,names=['country_code','region','country','car_per_cap','driver_right'])
cars_df.set_index(['region','country_code'],inplace=True)       #hierarcial indexing
cars_df

In [ ]:
cars_df.to_csv('Cars_new.csv')

**Case Study**

In [ ]:
sales_df = pd.read_excel('sales.xlsx')
sales_df

In [ ]:
sales_df = pd.read_excel('sales.xlsx',index_col=[0,1])
sales_df

In [ ]:
sales_df = pd.read_excel('sales.xlsx')
sales_df

In [ ]:
sales_df.head()      #1st 5 rows

In [ ]:
sales_df.tail()      #last 5 rows

In [ ]:
sales_df = pd.read_excel('sales.xlsx',index_col=[0,1],nrows=10)   #nrows parameters are used to print required no of rows i.e, here 10 rows
sales_df

In [ ]:
sales_df.info()            #it gives quantitative info like no of rows,datatypes etc..

In [ ]:
sales_df.describe()        #it gives the statistical info about the datafarme

In [ ]:
print(sales_df.columns)    #this gives the anmes of columns

In [ ]:
print(sales_df.shape)  #this gives the no of rows and columns

In [ ]:
sales_df = pd.read_excel('sales.xlsx',index_col=[1])
sales_df

The functionalities of iloc and loc are different; iloc fetches the rows/columns at a particular position (and hence takes an integer as input), whereas loc fetches rows/columns with particular labels.

**Column indexing (Series or Dataframe)**

In [ ]:
sales_df['Market']    #or sales_df.Market       #this outputs a series because only 1 column name is mentioned.

In [ ]:
sales_df[['Sales','Profit']]    #this outputs a dataframe because 2 column names are mentioned.

**Row Indexing**

In [ ]:
sales_df.loc['Southern Asia']          #loc is used to locate the particular row

In [ ]:
sales_df.loc['Southern Asia']['Sales']     #loc is used to locate the particular row of 'Sales ' Column
#or sales_df.loc['Southern Asia','Sales]

In [ ]:
sales_df.iloc[6]               #iloc is used to locate the row with row number

In [ ]:
sales_df.iloc[[6],[3]]         #iloc is used to locate the row with row number and column number too

In [ ]:
sales_df.loc[:,['Market','Profit','Sales']]

In [ ]:
sales_df.iloc[:,[0,3,2]].head()

In [ ]:
sales_df.loc[['Western Africa','Southern Africa','North Africa'],:]

In [ ]:
sales_df.iloc[0:3,:]

In [ ]:
sales_df.loc[['Western Africa','Southern Africa','North Africa'],['Profit','Sales']]

In [ ]:
sales_df.iloc[0:3,2:4]

In [ ]:
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv", delimiter='|', header=None, index_col=0)

In [ ]:
df.columns = ["Name","Subject","Maximum Marks","Marks Obtained","Percentage"]
df.index.name = "S.No."
df

In [ ]:
df.loc[[3], ["Name", "Subject", "Percentage"]]

In [ ]:
df.iloc[[2], [0, 1, 4]]

**Filtering**

In [ ]:
sales_df['Sales']>300000

In [ ]:
sales_df[sales_df['Sales']>300000]

In [ ]:
sales_df[ (sales_df['Market']=='LATAM') & (sales_df['Sales']>250000) | (sales_df['Market']=='Europe') & (sales_df['Sales']>250000) ]

In [ ]:
sales_df[ (sales_df['Market'].isin(['LATAM','Europe'])) & (sales_df['Sales']>250000) ]     #isin function is used

In [ ]:
df = pd.read_csv('rating.csv')
df['Training'] = df['Rating'].apply(lambda x: 'Yes' if x<=3.5 else 'No')
#len(df[ (df['Training'] == 'Yes') & (df['Department']=='Finance') ])    67
#len(df[ (df['Training'] == 'Yes') & (df['Department']=='Marketing') ])    74
#len(df[ (df['Training'] == 'Yes') & (df['Department']=='HR') ])   56
#len(df[ (df['Training'] == 'Yes') & (df['Department']=='Sales') ])  66
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i, len(df[(df['Training'] == 'Yes') & (df['Department'] == i)]))

In [ ]:
a = df.groupby(by=['Department'])
print(a)

#### Question

The air quality data for this segment has been divided into three different csv files.

`info.csv` has the data hour by hour data about the concentration of polutants in the air and the status of the intruments.
`item_info` has the data for items and levels of concetration.
`station_info` has the data for measutring stations.

Read in all the three datasets and then print the first five rows.

You can download the dataset from kaggle website: https://www.kaggle.com/bappekim/air-pollution-in-seoul

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("Measurement_info.csv", header = 0)
data

In [ ]:
item = pd.read_csv("Measurement_item_info.csv", header = 0)
item

In [ ]:
station = pd.read_csv("Measurement_station_info.csv", header = 0)
station

#### Question

Create a new Dataframe whcih has information about the item code and item name

In [ ]:
sub_item = item[['Item code', 'Item name']]
sub_item

#### Question

Create a new Dataframe whcih has information about the station code and station name

In [ ]:
sub_station = station[['Station code', 'Station name(district)']]
sub_station

### Question

In the `data` DataFrame add in a column displaying the names of the items.

In [ ]:
data_i = data.merge(sub_item, on = "Item code", how = "left")
data_i.head()

### Question

In the `data_i` DataFrame add in a column displaying the names of the stations.

In [ ]:
data_s = data_i.merge(sub_station, on = "Station code", how = "left")
data_s.head()

### Question

In the `data_s` DataFrame drop the columns `Station code` and `Item code`. As these columns have not become redundant. You can find the relevant function in the pandas library [here](https://pandas.pydata.org/docs/reference/index.html).

In [ ]:
data = data_s.drop(['Station code', 'Item code'], axis = 1)
data.head()

### Question

Given below are the meanings of the values in the `Instrument status`.

- 0: Normal
- 1: Need for calibration
- 2: Abnormal
- 4: Power cut off
- 8: Under repair
- 9: Abnormal data

Using the information given above, add a column in the `data` DataFrame to give the status of the intsruments. Then drop the `Instrument status` column.  

Hint: First create a dictionary from the data, then use the same dictionary to create a DataFrame and then merge the DataFrame. with `data`

In [ ]:
status_dict = {"Instrument status": [0,1,2,4,8,9],
               "Status": ["Normal", "Need for calibration", "Abnormal", "Power cut off", "Under repair", "Abnormal data"]}
status_dict

In [ ]:
dictdf = pd.DataFrame(status_dict)
dictdf

In [ ]:
data = data.merge(dictdf, on = "Instrument status", how = "left")

In [ ]:
data.head()

In [ ]:
data = data.drop(["Instrument status"], axis = 1)

In [ ]:
data.head()

### Question

Extract the time series data, that is year, month, date and hour form the `Measurement date` column. Once all the data is extrcted drop the `Measurement date` column.

This operation might take some time as the dataset we are working with is very large.

In [ ]:
data['Year'] = pd.DatetimeIndex(data['Measurement date']).year
data['Month'] = pd.DatetimeIndex(data['Measurement date']).month
data['Date'] = pd.DatetimeIndex(data['Measurement date']).day
data['Hour'] = pd.DatetimeIndex(data['Measurement date']).hour
data.head()

In [ ]:
data = data.drop(["Measurement date"], axis =1)

In [ ]:
data.head()

## Practice Exercise 2

In this assignment, you will try to find some interesting insights into a few movies released between 1916 and 2016, using Python. You will have to download a movie dataset, write Python code to explore the data, gain insights into the movies, actors, directors, and collections, and submit the code.

#### Some tips before starting the assignment

1. Identify the task to be performed correctly, and only then proceed to write the required code. Don’t perform any incorrect analysis or look for information that isn’t required for the assignment.
2. In some cases, the variable names have already been assigned, and you just need to write code against them. In other cases, the names to be given are mentioned in the instructions. We strongly advise you to use the mentioned names only.
3. Always keep inspecting your data frame after you have performed a particular set of operations.
4. There are some checkpoints given in the IPython notebook provided. They're just useful pieces of information you can use to check if the result you have obtained after performing a particular task is correct or not.
5. Note that you will be asked to refer to documentation for solving some of the questions. That is done on purpose for you to learn new commands and also how to use the documentation.

In [ ]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

### Task 1: Reading and Inspection

**Subtask 1.1: Import and read**

Import and read the movie database. Store it in a variable called `movies`.

In [ ]:
# Write your code for importing the csv file here
movies = pd.read_csv('Movies.csv')
movies

**Subtask 1.2: Inspect the dataframe**

Inspect the dataframe's columns, shapes, variable types etc.

#### <font color='red'>Question 1: How many rows and columns are present in the dataframe? </font>
-  <font color='red'>(3821, 26)</font>
-  <font color='red'>(3879, 28)</font>
-  <font color='red'>(3853, 28)</font>
-  <font color='red'>(3866, 26)</font>

In [ ]:
# Write your code for inspection here
movies.shape

#### <font color='red'>Question 2: How many columns have null values present in them? Try writing a code for this instead of counting them manually.</font>

-  <font color='red'>3</font>
-  <font color='red'>6</font>
-  <font color='red'>9</font>
-  <font color='red'>12</font>

In [ ]:
len(movies.columns[movies.isna().any()].tolist())

### Task 2: Cleaning the Data

**Subtask 2.1: Drop unecessary columns**

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

#### <font color='red'>Question 3: What is the count of columns in the new dataframe? </font>
-  <font color='red'>10</font>
-  <font color='red'>13</font>
-  <font color='red'>15</font>
-  <font color='red'>17</font>

In [ ]:
# Check the 'drop' function in the Pandas library - dataframe.drop(list_of_unnecessary_columns, axis = )
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations
data = movies.drop(['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes',
                   'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster',
                   'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'], axis = 1)
data.shape

**Subtask 2.2: Inspect Null values**

As you have seen above, there are null values in multiple columns of the dataframe 'movies'. Find out the percentage of null values in each column of the dataframe 'movies'.

#### <font color='red'>Question 4: Which column has the highest percentage of null values? </font>
-  <font color='red'>language</font>
-  <font color='red'>genres</font>
-  <font color='red'>num_critic_for_reviews</font>
-  <font color='red'>imdb_score</font>

In [ ]:
# Write you code here
percent_missing = data.isnull().sum()
percent_missing
#round(100*(movies.isnull().sum()/len(movies.index)), 2)

**Subtask 2.3: Fill NaN values**

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

#### <font color='red'>Question 5: What is the count of movies made in English language after replacing the NaN values with English? </font>
-  <font color='red'>3670</font>
-  <font color='red'>3674</font>
-  <font color='red'>3668</font>
-  <font color='red'>3672</font>

In [ ]:
# Write your code for filling the NaN values in the 'language' column here
movies['language'].fillna('English',inplace=True)

In [ ]:
len(movies[movies['language'] == 'English'])

### Task 3: Data Analysis

**Subtask 3.1: Change the unit of columns**

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here
movies['budget']=movies['budget'].floordiv(1000000)
movies['gross']=movies['gross'].floordiv(1000000)

**Subtask 3.2: Find the movies with highest profit**

   1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
   2. Sort the dataframe using the `profit` column as reference. (Find which command can be used here to sort entries from the documentation)
   3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [ ]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']

In [ ]:
# Write your code for sorting the dataframe here
movies.sort_values(by=['profit'],ascending=False,inplace=True)
movies

In [ ]:
top10 = movies.loc[0:11,'movie_title']
top10

**Checkpoint:** You might spot two movies directed by `James Cameron` in the list.

#### <font color='red'>Question 6: Which movie is ranked 5th from the top in the list obtained? </font>
-  <font color='red'>E.T. the Extra-Terrestrial</font>
-  <font color='red'>The Avengers</font>
-  <font color='red'>The Dark Knight</font>
-  <font color='red'>Titanic</font>

**Subtask 3.3: Find IMDb Top 250**

Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.

Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.

In [ ]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies.sort_values(by = 'imdb_score', ascending = False)
IMDb_Top_250 = IMDb_Top_250.loc[IMDb_Top_250.num_voted_users > 25000]
IMDb_Top_250 = IMDb_Top_250.iloc[:250,:]
IMDb_Top_250['Rank'] = range(1,251)
IMDb_Top_250

#### <font color='red'>Question 7: Suppose movies are divided into 5 buckets based on the IMDb ratings: </font>
-  <font color='red'>7.5 to 8</font>
-  <font color='red'>8 to 8.5</font>
-  <font color='red'>8.5 to 9</font>
-  <font color='red'>9 to 9.5</font>
-  <font color='red'>9.5 to 10</font>

<font color = 'red'> Which bucket holds the maximum number of movies from *IMDb_Top_250*? </font>

**Subtask 3.4: Find the critic-favorite and audience-favorite actors**

   1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
   2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
   3. Group the combined dataframe using the `actor_1_name` column.
   4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [ ]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies.loc[movies['actor_1_name'] == 'Meryl Streep']
Meryl_Streep

In [ ]:
Leo_Caprio = movies.loc[movies['actor_1_name'] == 'Leonardo DiCaprio']
Leo_Caprio

In [ ]:
Brad_Pitt = movies.loc[movies['actor_1_name'] == 'Brad Pitt']
Brad_Pitt

In [ ]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep,Leo_Caprio,Brad_Pitt])
Combined

In [ ]:
# Write your code for grouping the combined dataframe here
cs = Combined.groupby(by='actor_1_name')
print(cs)

#### <font color='red'>Question 8: Which actor is highest rated among the three actors according to the user reviews? </font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

In [ ]:
# Write the code for finding the mean of critic reviews and audience reviews here
cs[['num_user_for_reviews']].mean()

#### <font color='red'>Question 9: Which actor is highest rated among the three actors according to the critics?</font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

In [ ]:
cs[['num_critic_for_reviews']].mean()

<h2 style = "color : Brown"> Operations on Pandas</h2>

This notebook will cover the following topics:
* Filtering dataframes
    * Single and multiple conditions
* Creating new columns
* Lambda functions
* Group by and aggregate functions
* Pivot data
* Merging data frames
    * Joins and concatenations

<h4 style = "color : Sky blue"> Preparatory steps</h4>  

##### Background

An FMCG company P&J found that the sales of their best selling items are affected by the weather and rainfall trend. For example, the sale of tea increases when it rains, sunscreen is sold on the days when it is least likely to rain, and the sky is clear. They would like to check whether the weather patterns play a vital role in the sale of certain items. Hence as initial experimentation, they would like you to forecast the weather trend in the upcoming days. The target region for this activity is Australia; accordingly, this exercise will be based on analysing and cleaning the weather data from the Australian region available on public platforms.  

##### Read the data into a dataframe

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("weatherdata.csv", header =0)

##### Display the data

In [ ]:
data.head(5)

##### Data Dictionary

1. Date: The date on which the recording was taken
2. Location: The location of the recording
3. MinTemp: Minimum temperature on the day of the recording (in C)
4. MaxTemp: Maximum temperature in the day of the recording (in C)
5. Rainfall: Rainfall in mm
6. Evaporation: The so-called Class A pan evaporation (mm) in the 24 hours to 9am
7. Sunshine: The number of hours of bright sunshine in the day.
8. WindGustDir: The direction of the strongest wind gust in the 24 hours to midnight
9. WindGustSpeed: The speed (km/h) of the strongest wind gust in the 24 hours to midnight

<h4 style = "color : Sky blue"> Example 1.1: Filtering dataframes</h4>

Find the days which had sunshine for more that 4 hours. These days will have increased sales of sunscreen.

In [ ]:
data.shape

In [ ]:
data["Sunshine"]>4

In [ ]:
data[data["Sunshine"]>4]

**Note:** High sunshine corresponds to low rainfall.

<h4 style = "color : Sky blue"> Example 1.2: Filtering dataframes</h4>

The cold drink sales will most likely increase on the days which have high sunshine(>5) and high max temperature(>35). Use the filter operation to filter out these days

In [ ]:
data[(data["MaxTemp"]>35) & (data["Sunshine"]>5)]

**Note:** The construction of the filter condition, it has individual filter conditions separated in parenthesis

<h4 style = "color : Sky blue"> Example 2.1: Creating new columns</h4>
    
If you noticed the filtering done in the earlier examples did not give precise information about the days, the data column simply has the dates. The date column can be split into the year, month and day of the month.

**Special module of pandas** The "DatetimeIndex" is a particular module which has the capabilities to extract a day, month and year form the date.

In [ ]:
pd.DatetimeIndex(data["Date"])

In [ ]:
pd.DatetimeIndex(data["Date"]).year

**Adding New columns** To add a new column in the dataframe just name the column and pass the instructions about the creation of the new column

In [ ]:
data["Year"] = pd.DatetimeIndex(data["Date"]).year

In [ ]:
data.head()

In [ ]:
data["Month"] = pd.DatetimeIndex(data["Date"]).month

In [ ]:
data["Dayofmonth"] = pd.DatetimeIndex(data["Date"]).day

In [ ]:
data.head(20)

<h4 style = "color : Sky blue"> Example 2.2: Creating new columns</h4>

The temperature given is in Celcius, convert it in Fahrenheit and store it in a new column for it.

In [ ]:
data["Maxtemp_F"] = data["MaxTemp"] * 9/5 +32

In [ ]:
data.head()

<h4 style = "color : Sky blue"> Example 3.1: Lambda Functions</h4>

Let's create a new column which highlights the days which have rainfall more than 50 mm as rainy days and the rest are not.

In [ ]:
data.Rainfall

In [ ]:
data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

**Note**
1. New way of accessing a column in a dataframe by using the dot operator.
2. "apply" function takes in a lambda operator as argument.

In [ ]:
type(data.Rainfall)

In [ ]:
type(data["Rainfall"])

In [ ]:
data["is_raining"] = data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [ ]:
## Note that the above code is also another way to find this
## data["is_raining"] = data[Rainfall]apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [ ]:
data[data["is_raining"] == "Rainy"]


<h4 style = "color : Sky blue"> Example 4.1: Grouping and Aggregate functions</h4>

Find the location which received the most amount of rain in the given data. In this place, certain promotional offers can be put in place to boost sales of tea, umbrella etc.

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data_bylocation = data.groupby(by = ['Location']).mean()
data_bylocation.head()

In [ ]:
data_bylocation.sort_values('Rainfall', ascending = False).head()

<h4 style = "color : Sky blue"> Example 4.2: Grouping and Aggregate functions</h4>

Hot chocolate is the most sold product in the cold months. Find month which is the coldest so that the inventory team can keep the stock of hot chocolate ready well in advance.

In [ ]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

In [ ]:
data_bymonth.sort_values('MinTemp')

<h4 style = "color : Sky blue"> Example 4.3: Grouping and Aggregate functions</h4>

Sometimes feeling cold is more than about low temperatures; a windy day can also make you cold. A factor called the chill factor can be used to quantify the cold based on the wind speed and the temperature. The formula for the chill factor is given by


$ WCI = (10 * \sqrt{v} - v + 10.5) .(33 - T_{m}) $

v is the speed of the wind and $ T_{m} $ is the minimum temperature

Add a column for WCI and find the month with the lowest WCI.

In [ ]:
from math import sqrt
def wci(x):
    velocity = x['WindGustSpeed']
    minTemp = x['MinTemp']
    return ((10 * sqrt(velocity) - velocity + 10.5)*(33-minTemp))

In [ ]:
data['WCI'] = data.apply(wci,axis=1)

In [ ]:
data.head()

In [ ]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

In [ ]:
data_bymonth.sort_values('WCI', ascending = False)

In [ ]:
#The month with the lowest WCI
data_bymonth.sort_values('WCI')

In [ ]:
data_bymonth.loc[[3],:]

<h4 style = "color : Sky blue"> Example 5.1: Merging Dataframes</h4>

The join command is used to combine dataframes. Unlike hstack and vstack, the join command works by using a key to combine to dataframes.

For example the total tea for the Newcastle store for the month of June 2011 is given in the file names ```junesales.csv``` Read in the data from the file and join it to the weather data exracted from the original dataframe.

In [ ]:
sales = pd.read_csv("junesales.csv", header = 0)

In [ ]:
sales["Dayofmonth"] = pd.DatetimeIndex(sales["Date"]).day
sales.head()

In [ ]:
# Filter the sales data for the relevant month and the appropriate location to a new dataframe.

Newcastle_data = data[(data['Location']=='Newcastle') & (data['Year']==2011) & (data['Month']==6)]
Newcastle_data.head()

In [ ]:
merge_data = Newcastle_data.merge(sales, on = "Dayofmonth")
merge_data.head(30)

<h4 style = "color : Sky blue"> Example 5.2: Merging Dataframes</h4>

##### Types of joins.

* INNER JOIN
![](1.png)

* LEFT JOIN
![](2.png)

* RIGHT JOIN
![](5.png)

* FULL JOIN
![](4.png)


Each state may have different tax laws, so we might want to add the states information to the data as well.

The file ```locationsandstates.csv``` information about the states and location, the data in this file is **not** same as the weather data. It is possible that few locations in "data" (original dataframe) are not in this file, and all the locations in the file might not be in the original dataframe.

In the original dataframe add the state data.

In [ ]:
state = pd.read_csv("locationsandstates.csv", header = 0)
state

In [ ]:
state_data = data.merge(state, on = "Location", how = "left")
state_data

<h4 style = "color : Sky blue"> Example 6.1: pivot tables</h4>

Using pivot tables find the average monthly rainfall in the year 2016 of all the locations. The information can then be used to predict the sales of tea in the year 2017.

In [ ]:
data_2016 = data[data["Year"] ==2016]
data_2016

In [ ]:
data_2016.pivot_table(index = "Location", columns = "Month", values = "Rainfall", aggfunc='mean')

Find the Pandas pivot table documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

This information can be used to decide the stocks of tea in each of the stores.

You can modify the pivot_table command to get a lot of work done quickly.

In [ ]:
data_2016.pivot_table(index = "Location", columns = "Month", values = "Sunshine", aggfunc='mean')

**Task 1**

Create a pandas DataFrame from the given data

In [ ]:
# User data is provided as a dictionary of lists
user_data = {
    "user_id": ['AK58', 'EL40', 'PK29', 'BK51', 'BW29','JS58','RS35','ML52','JM32','AL38'],
    "name": ['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu','Jane Smith',
             'Ramiro Suarez','Melissa Lefferts','Jamie Mulder','Alexa Leo'],
    "YOB":[1965, 1983, 1994, 1972, 1994,1965,1988,1971,1991,1985],
    "age": [58, 40, 29, 51, 29,58,35,52,32,38],
    "is_subscriber": [True, False, True, True, False,True,False,True,True,True]
}

In [ ]:
### Creating pandas DataFrame from the above data
users = pd.DataFrame(user_data)
### Check the DataFrame
users

**Task 2**

- Add a new column named "country" to the DataFrame
- Use the list `countries_list` for column values

In [ ]:
countries_list = ["USA", "Canada", "UK", "USA", "Australia","USA","Canada","Canada","UK","Australia"]

In [ ]:
## Assign the values of 'countries_list' to a new column 'country'
users['country'] = countries_list
users

**Task 3**

Get the number of records in the `users` DataFrame

In [ ]:
# Get the number of records in the DataFrame
len(users)

**Task 4**

Find the number of unique countries in the `country` column

In [ ]:
# Get the number of unique countries
len(users.country.unique())

**Task 5**

Set the `user_id` as the index for the `users` DataFrame

In [ ]:
### Set the user_id as the index for the DataFrame
users = users.set_index('user_id')
users

**Task 6**

Find the year of birth for the user with `user_id` **AK58**

In [ ]:
#Use the index to get the year of birth (YOB) for a user with a specific user_id
#users.iloc[[0],[2]]
users_yob = users.loc['AK58']['YOB']
users_yob

**Task 7**

Find the number of subscribers for a specific "year of birth" and "country" combination

In [ ]:
yob = 1965
country = 'USA'

In [ ]:
### Method 1 - Without using groupby
len(users[ (users['YOB'] == 1965) & (users['country']=='USA') ])

In [ ]:
# Method 2 - Using groupby
sub = (users.groupby(by=['YOB','country'])['is_subscriber'].sum().reset_index(name = 'Subs'))
sub

In [ ]:
sub[(sub['YOB']==1965) & (sub['country']=='USA')]['Subs']

**Task 8**

Add a new column `subs_country` where each value denotes the number of subscribers from the country of the of the corresponding user

Solution Strategy:

- First we need to perform a groupby aggregation to get the number of subscribers in each country
- After that, we need to "merge" these values with each user record from the original DataFrame

Though we can use the `pd.merge` method to combine the result of a groupby aggregation with the original DataFrame, a better approach would be to use the `transform` method.

Using this method, we get a single pandas Series which contains the groupby aggregation corresponding to each row, that can be later added to the original DataFrame. This method avoids any memory intensive merge operations and is generally faster.

Reference link --> https://stackoverflow.com/questions/30244952/how-do-i-create-a-new-column-from-the-output-of-pandas-groupby-sum

In [ ]:
users['issub'] = users.groupby(by=['country'])['is_subscriber'].transform('sum')
users

In [ ]:
### Create the pandas Series for number of subscribers using groupby and transform
users.loc[:,['issub']]

**Task 9**

Filter the `users` DataFrame for people:

- who are **25 years or older**, and
- are from **USA**

In [ ]:
# To filter the DataFrame based on specific conditions, we can use boolean indexing:
users[(users['age']>=25) & (users['country']=='USA')]

**Task 9**

You are provided another DataFrame containing the population of each country. Your task is to merge this data with the `users` DataFrame

In [ ]:
# To merge another set of information to the DataFrame, we can use the pd.merge() function:

population = pd.DataFrame({
    "country": ["USA", "Canada", "UK", "Australia"],
    "population_in_mill": [328, 38, 67, 25]
})

population

In [ ]:
users = pd.merge(users, population, on="country", how = 'left')
users

### Good vs Bad Pandas Practices

**Example 1**

- Convert the column `name` to UPPER case

In [ ]:
### Bad approach - using apply
users['name_upper'] = users['name'].apply(lambda x:x.upper())

In [ ]:
users

In [ ]:
### Ideal approach - using vectorized string operations
users['name_upper'] = users['name'].str.upper()

In [ ]:
users

**Example 2**

- Create a new column that displays the age of the users in months

In [ ]:
### Bad approach - using apply
users['age_in_months'] = users['age'].apply(lambda x : x*12)

In [ ]:
users

In [ ]:
## Ideal approach
users['age_in_months'] = users['age']*12

In [ ]:
users

**Example 3**

- Create a new user_id for each user combining the first two letters of their name and their age. For example, the new user_id of `Alice Kim` with age `58` would be `Al58`.

In [ ]:
### Bad approach - using iterrows()
new_userids = [] ##Create an empty list to store the new userids

for index, row in users.iterrows():
    new_userids.append(row['name'][0:2] + str(row['age'])) ## Append each user's new userid

new_userids

In [ ]:
### Create a new column 'new_userid' in the DataFrame using the previously created list
users['new_userid'] = new_userids

In [ ]:
users

In [ ]:
### Ideal approach -  using vectorized strings
users['new_userid'] = users['name'].str[0:2].str.upper() + users['age'].astype(str)

In [ ]:
users

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [ ]:
df=pd.read_csv('MegaMart_sales.csv')
df

In [ ]:
dfnew=pd.read_csv('MegaMart_newsales.csv')
dfnew

In [ ]:
#your code here
new = pd.concat([df,dfnew])
new

In [ ]:
new.groupby(by=['Category']).sum()

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [ ]:
#your code here
new1 = new.drop_duplicates()
new1

In [ ]:
new1.groupby(by=['Category']).sum()

#### Best category-sub category
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [ ]:
#your code here
new1.groupby(by=['Category','Sub-Category']).sum()

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame? An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [ ]:
#your code here
a = new1.iloc[:,0]
l=[]
for i in a:
  if len(i)!=15:
    l.append(i)

print(l)   #7

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [ ]:
new2 = new1.sort_values(by='Sales', ascending=False)
new2=new2.iloc[:25,]
new2['Category'].value_counts()

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable
    c)Hoover Microwave, Red
    d)Fellowes Lockers, Industrial

In [ ]:
#your code here
n = new1[(new1['Sales']>250) & (new1['Profit']>50)]
n.sort_values(by='Sales',ascending=False)

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [ ]:
#your code here
n1 = new1[new1['Profit']>0]
df2 = n1.loc[n1.Category=='Technology']
df2['ppq'] = df2['Profit']/df2['Quantity']
df2.sort_values(by='ppq',ascending=True)